<div class="container">
    <h1 class="mt-4 mb-4">Equipment Selection</h1>

    <h2 class="mt-4 mb-2">Sum of signals:</h2>

    <form method="post" id="calculation-form" data-url="{% url 'calculate_signals' %}">
        {% csrf_token %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="table-info">
                <th scope="col" class="col-4">Equipment</th>
                <th scope="col" class="col-2">Count</th>
                <th scope="col" class="col-1">AI</th>
                <th scope="col" class="col-1">AI RTD</th>
                <th scope="col" class="col-1">AO</th>
                <th scope="col" class="col-1">DI</th>
                <th scope="col" class="col-1">DO</th>
                <th scope="col" class="col-1">Pneu</th>
            </tr>
            </thead>
            <tbody>
            {% for equipment in equipments %}
                <tr id="summ-signals-{{ equipment.id }}">
                    <th scope="row">{{ equipment.name }}</th>
                    <th><input type="number" class="form-control" name="count_{{ equipment.id }}" value="0" min="0">
                    </th>
                    <th><span class="analog-input-1">0</span></th>
                    <th><span class="analog-input-2">0</span></th>
                    <th><span class="analog-output">0</span></th>
                    <th><span class="discrete-input">0</span></th>
                    <th><span class="discrete-output">0</span></th>
                    <th><span class="pneumatic-output">0</span></th>
                </tr>
            {% endfor %}
            <tr class="table-danger" id="correction-signals-type">
                <th scope="row">Correction</th>
                <th></th>
                <th><input type="number" class="form-control" name="count_analog-input-1" id="count_сanalog-input-1"
                           value="0"></th>
                <th><input type="number" class="form-control" name="count_analog-input-2" id="count_сanalog-input-2"
                           value="0"></th>
                <th><input type="number" class="form-control" name="count_analog-output" id="count_сanalog-output"
                           value="0"></th>
                <th><input type="number" class="form-control" name="count_discrete-input" id="count_сdiscrete-input"
                           value="0"></th>
                <th><input type="number" class="form-control" name="count_discrete-output" id="count_сdiscrete-output"
                           value="0"></th>
                <th><input type="number" class="form-control" name="count_pneumatic-output" id="count_сpneumatic-output"
                           value="0"></th>
            </tr>
            <tr class="table-primary" id="summ-signals-type">
                <th scope="row">Total</th>
                <th></th>
                <th><span class="analog-input-1">0</span></th>
                <th><span class="analog-input-2">0</span></th>
                <th><span class="analog-output">0</span></th>
                <th><span class="discrete-input">0</span></th>
                <th><span class="discrete-output">0</span></th>
                <th><span class="pneumatic-output">0</span></th>
            </tr>
            </tbody>
        </table>
    </form>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-4 mb-2">Reserve:</h2>
            <table class="table table-striped table-bordered col-6">
                <thead>
                <tr class="table-info">
                    <th scope="col" class="col-8">#</th>
                    <th scope="col" class="col-4">Count</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Signal reserve, %</td>
                    <td>
                        <input id="sig-reserve" type="number" class="form-control" name="count_reserve_s"
                               value="20" min="0" max="100">
                    </td>
                </tr>
                <tr>
                    <td>Pneumatic reserve, %</td>
                    <td>
                        <input id="pneu-reserve" type="number" class="form-control" name="count_reserve_p"
                               value="20" min="0" max="100">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
{#            <label for="exampleFormControlTextarea1">Comments</label>#}
            <h2 class="mt-4 mb-2">Comments:</h2>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>

    <h2 class="mt-4 mb-2">Total Signals:</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr class="table-info">
            <th scope="col" class="col-4">Equipment</th>
            <th scope="col" class="col-2">Count</th>
            <th scope="col" class="col-1">AI</th>
            <th scope="col" class="col-1">AI RTD</th>
            <th scope="col" class="col-1">AO</th>
            <th scope="col" class="col-1">DI</th>
            <th scope="col" class="col-1">DO</th>
            <th scope="col" class="col-1">Pneu</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary" id="total-signals-type">
            <th scope="row">Total</th>
            <th></th>
            <th><span class="analog-input-1">0</span></th>
            <th><span class="analog-input-2">0</span></th>
            <th><span class="analog-output">0</span></th>
            <th><span class="discrete-input">0</span></th>
            <th><span class="discrete-output">0</span></th>
            <th><span class="pneumatic-output">0</span></th>
        </tr>
        </tbody>
    </table>

    {#    <h2 class="mt-4 mb-2">Total Overall Signals: <span id="total-overall-signals">0</span></h2>#}

    <form id="number-form">
        {% csrf_token %}
        <label for="number1">Enter number 1:</label>
        <input type="number" id="number1" name="number1" required>

        <label for="number2">Enter number 2:</label>
        <input type="number" id="number2" name="number2" required>

        <button type="button" id="export-btn">Export to CSV</button>
        <input type="file" id="import-file" accept=".csv">
        <button type="button" id="import-btn">Import from CSV</button>
    </form>

</div>