<div class="container block active" id="block1">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-7 col-md-9">
            <div class="container">
            <div class="row">
                <div class="input-group mb-3 mt-3">
                <label class="input-group-text" for="inputGroupSelect01">Project name:</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Euro rate:</label>
                <select class="form-select" id="inputGroupSelect01">
                    {#            <option selected>value selection</option>#}
                    <option value="1" selected>Auto</option>
                    <option value="2">Manual</option>
                </select>

                <span class="input-group-text">€</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">


                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value=""
                           aria-label="Checkbox for following text input">
                </div>
                {#        <input type="text" class="form-control" aria-label="Text input with checkbox">#}

                <span class="input-group-text">fork</span>

                <span class="input-group-text">±</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
        </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-5 col-md-12 d-flex justify-content-center align-items-center">
            <div class="card mt-3 p-3" style="width: 18rem;">
                <img src="http://pag.company/images/logo_pag.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Компания <a href="http://pag.company/" class="link-primary">ООО «ПАГ»</a> (Process Automation Group)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
