<div class="container block active" id="block1">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-7 col-md-9">
            <div class="container">
                <div class="row">
                    <div class="input-group mb-3 mt-3">
                        <label class="input-group-text" for="inputGroupSelect01">Project name:</label>
                        <input type="text" class="form-control" aria-label="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputEuroSelect">Euro rate:</label>
                        <select class="form-select" id="inputEuroSelect">
                            <option value="1" selected>Auto</option>
                            <option value="2">Manual</option>
                        </select>

                        <span class="input-group-text">€</span>
                        <input id="euro_rub" type="text" class="form-control" aria-label="" value="{{ euro_rub }}" disabled>

                        <div class="input-group-text">
                            <input id="checkbox-fork" class="form-check-input mt-0" type="checkbox"
                                   aria-label="">
                            <span class="ms-3">fork</span>
                        </div>
                        <span class="input-group-text">±</span>
                        <input id="fork" type="text" class="form-control" aria-label="" value="0" disabled>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-5 col-md-12 d-flex justify-content-center align-items-center">
            <div class="card mt-3 p-3" style="width: 18rem;">
                <img src="http://pag.company/images/logo_pag.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Company <a href="http://pag.company/" class="link-primary">OOO «PAG»</a> (Process Automation
                        Group)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
